@page "/change-password"
@inherits ChangePasswordBase

<section class="change-password-section">
    <h3>Change Password</h3>
    <EditForm Model="changePasswordModel" OnValidSubmit="OnChangePassword">
        <DataAnnotationsValidator />
        <ValidationSummary />
        <div class="form">
            <div class="current-password">
                <InputText @bind-Value="changePasswordModel.CurrentPassword" type="password" placeholder="Current Password" class="form-control" />
                <ValidationMessage For="@(() => changePasswordModel.CurrentPassword)" />
            </div>
            <div class="new-password">
                <InputText @bind-Value="changePasswordModel.NewPassword" type="password" placeholder="New Password" class="form-control" />
                <ValidationMessage For="@(() => changePasswordModel.NewPassword)" />
            </div>
            <div class="confirm-new-password">
                <InputText @bind-Value="changePasswordModel.ConfirmNewPassword" type="password" placeholder="Confirm New Password" class="form-control" />
                <ValidationMessage For="@(() => changePasswordModel.ConfirmNewPassword)" />
            </div>
            <div class="button">
                <button type="submit" class="btn btn-lg submit-button">Change Password</button>
            </div>
        </div>
        @if (!string.IsNullOrEmpty(errorMessage))
        {
            <div class="alert alert-danger">@errorMessage</div>
        }
        @if (!string.IsNullOrEmpty(successMessage))
        {
            <div class="alert alert-success">@successMessage</div>
        }
    </EditForm>
</section>