@page "/detailevent/{Id}"
@inherits DetailEventBase

@if (isLoaded)
{
    <h3>Event Info</h3>

    @if (evnt != null)
    {
        <div class="row">
            <div class="col-md-8 offset-2">
                <div class="card mb-3">
                    <div class="row g-0">
                        <div class="col-md-12">
                            <div class="card-header text-white bg-info">
                                <p class="card-text">
                                    <h5 class="card-title">
                                        @evnt.EventTypeName
                                    </h5>
                                </p>
                            </div>
                        </div>
                        <div class="col-md-4 detail-image">
                            @if (@evnt.Image != null && @evnt.Image.Length > 0)
                            {
                                <img src="data:image/jpeg;base64,@Convert.ToBase64String(@evnt.Image)" alt="Event Image" width="100%" height="250px" />
                            }
                            else
                            {
                                @if (@evnt.EventTypeName == "Party")
                                {
                                    <img src="https://lh3.googleusercontent.com/proxy/UKjcRKYdVMc4LPeSukk_Iz2qxqPSFMP7qhIMd8eYH73DSAf3XSKc4k8MuBg0CyGWC56rcbsFUfWqKzUObYLkQWKHna4cC9kpBOiFSvwocNu-0ZCbWvqgVDIDd36z1UEJEAilZepAcV6fwp_1RUlR75bbLCtCgAKZ" alt="Party Event Image" width="100%" height="250px" />
                                }
                                else if (@evnt.EventTypeName == "Carnival")
                                {
                                    <img src="https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.alimentarium.org%2Fen%2Fstory%2Fcarnival&psig=AOvVaw1zV8HF5eFFsiJPRk986Zrl&ust=1713371086330000&source=images&cd=vfe&opi=89978449&ved=0CBIQjRxqFwoTCIDyu-mSx4UDFQAAAAAdAAAAABAF" alt="Carnival Event Image" width="100%" height="250px" />
                                }
                                else if (@evnt.EventTypeName == "Picnic")
                                {
                                    <img src="https://images-cdn.welcomesoftware.com/Zz0yYzk1ZDRmNmI2NGMxMWViOGRiNDk1MTgxY2IxYmM0Yw==/Zz1iZWJjZWViNWVhOWJiYzIyYzVlOTI1NTExOGQxMGFjYQ%3D%3D.jpg?width=1366" alt="Picnic Event Image" width="100%" height="250px" />
                                }
                                else if (@evnt.EventTypeName == "Concert")
                                {
                                    <img src="https://media.istockphoto.com/id/1461816749/photo/a-crowd-of-people-with-raised-arms-during-a-music-concert-with-an-amazing-light-show-black.jpg?s=612x612&w=0&k=20&c=-hdWCLDP5AI9A3mjq3JPMPKhXxJ2P1iItPDFktQHxX8=" alt="Concert Event Image" width="100%" height="250px" />
                                }
                                else
                                {
                                    <img src="https://www.aal-europe.eu/wp-content/uploads/2013/04/events_medium.jpg" alt="Default Event Image" Image" width="100%" height="250px" />
                                }
                            }
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <p class="card-text"><b>Event Name: </b>@evnt.EventName </p>
                                <p class="card-text"><b>Location: </b>@evnt.Location </p>
                                @if (evnt.StartDate != null && evnt.EndDate != null)
                                {
                                    <p class="card-text"><b>Start Date: </b>@evnt.StartDate </p>
                                    <p class="card-text"><b>End Date: </b>@evnt.EndDate </p>
                                }
                                else
                                {
                                    <p class="card-text"><b>Event Date: </b>@evnt.EventDate </p>
                                }
                                <p class="card-text ">
                                    <b>Status: </b>
                                    <span class="badge bg-success text-white">@evnt.TicketTypeName</span>
                                </p>
                                <p class="card-text"><b>Price: $</b>@evnt.TicketPrice </p>
                                <p class="card-text">
                                    <b>About Event </b>
                                    <hr />
                                <p>
                                        @evnt.Description
                                </p>
                                </p>
                                <p class="card-text"><b>Countdown: </b><span style="color: red;">@evnt.Countdown</span><b></b></p>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="card-footer">
                                <p class="card-text d-flex justify-content-between">
                                    <button class="btn btn-outline-secondary" @onclick="GoBack">Back to List</button>
                                    <div>
                                        @if (@evnt.TicketTypeName == "Paid")
                                        {
                                            <button type="button" class="btn btn-outline-success">
                                                Buy Ticket
                                            </button>
                                        }
                                        <button type="button" class="btn-sm" style="border-color:#a9a9a9">
                                            <i class="fa fa-bookmark-o"></i>
                                        </button>
                                        <button type="button" class="btn-sm" style="border-color:#a9a9a9" onclick="shareEvent('@evnt.EventName', '@GetEventDetailsUrl(evnt.EventId)')">
                                            <i class="fa fa-share-alt"></i>
                                        </button>
                                        <a class="btn btn-outline-primary" @onclick="EditEvent">Edit</a>
                                        <a class="btn btn-outline-danger" @onclick="DeleteEvent">Delete</a>
                                    </div>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
}
else
{
    <h4 style="text-align: center; margin-top: 1cm">Loading...</h4>
}
<script>
    function shareEvent(eventName, eventUrl) {
        if (navigator.share) {
            navigator.share({
                title: eventName,
                url: eventUrl
            }).then(() => {
                console.log('Shared successfully.');
            }).catch((error) => {
                console.error('Error sharing:', error);
            });
        } else {
            // Fallback for browsers that do not support Web Share API
            alert('Web Share API is not supported in this browser. You can manually share the event.');
        }
    }
</script>
<style>
    .btn-sm:hover {
        border-color: black !important;
    }
</style>