@page "/detailevent/{Id}"
@inherits DetailEventBase

<h3>Event Info</h3>

@if (evnt != null)
{
    @* <div class="detail-card">
        <div class="card-header d-flex justify-content-between align-items-center">
            <h5 class="event-type">@evnt.EventTypeName</h5>
            @{
                //TODO: Implement the "Sold Out" feature.
            }
            <span class="badge bg-success text-white">@evnt.TicketTypeName</span>
        </div>
        <div class="detail-image">
            @if (@evnt.Image != null && @evnt.Image.Length > 0)
            {
                <img src="data:image/jpeg;base64,@Convert.ToBase64String(@evnt.Image)" alt="Event Image" style="width: 370px; height: 200px;" />
            }
            else
            {
                @if (@evnt.EventTypeName == "Party")
                {
                    <img src="https://www.google.com/url?sa=i&url=https%3A%2F%2Fturbofuture.com%2Finternet%2FParty-Quotes-and-Caption-Ideas&psig=AOvVaw0RYce7yKny3Sq2WzwhnBZC&ust=1713371074103000&source=images&cd=vfe&opi=89978449&ved=0CBIQjRxqFwoTCKiThOSSx4UDFQAAAAAdAAAAABAE" alt="Party Event Image" style="width: 370px; height: 200px;" />
                }
                else if (@evnt.EventTypeName == "Carnival")
                {
                    <img src="https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.alimentarium.org%2Fen%2Fstory%2Fcarnival&psig=AOvVaw1zV8HF5eFFsiJPRk986Zrl&ust=1713371086330000&source=images&cd=vfe&opi=89978449&ved=0CBIQjRxqFwoTCIDyu-mSx4UDFQAAAAAdAAAAABAF" alt="Carnival Event Image" style="width: 370px; height: 200px;" />
                }
                else if (@evnt.EventTypeName == "Picnic")
                {
                    <img src="https://images-cdn.welcomesoftware.com/Zz0yYzk1ZDRmNmI2NGMxMWViOGRiNDk1MTgxY2IxYmM0Yw==/Zz1iZWJjZWViNWVhOWJiYzIyYzVlOTI1NTExOGQxMGFjYQ%3D%3D.jpg?width=1366" alt="Picnic Event Image" style="width: 370px; height: 200px;" />
                }
                else if (@evnt.EventTypeName == "Concert")
                {
                    <img src="https://media.istockphoto.com/id/1461816749/photo/a-crowd-of-people-with-raised-arms-during-a-music-concert-with-an-amazing-light-show-black.jpg?s=612x612&w=0&k=20&c=-hdWCLDP5AI9A3mjq3JPMPKhXxJ2P1iItPDFktQHxX8=" alt="Concert Event Image" style="width: 370px; height: 200px;" />
                }
                else
                {
                    <img src="https://www.aal-europe.eu/wp-content/uploads/2013/04/events_medium.jpg" alt="Default Event Image" style="width: 370px; height: 200px;" />
                }
            }
        </div>

        <p class="card-location"><i class="fa fa-map-marker"></i> @evnt.Location</p>
        <b><h5 class="card-name">@evnt.EventName</h5></b>
        <h6 class="card-date mb-2 text-muted">@evnt.EventDate</h6>
        <div class="card-footer d-flex justify-content-between align-items-center">
            <div class="buy-button">
                @if (@evnt.TicketTypeName == "Paid")
                {
                    <button type="button" class="btn btn-success btn-sm">
                        <i class="fa fa-credit-card"></i> Buy Ticket
                    </button>
                }
            </div>
            <div class="other-buttons">
                <button type="button" class="btn-sm" @onclick="() => NavigateToDetailEvent(evnt.EventId)">
                    <i class="fa fa-info-circle"></i>
                </button>
                <button type="button" class="btn-sm">
                    <i class="fa fa-bookmark-o"></i>
                </button>
                <button type="button" class="btn-sm">
                    <i class="fa fa-share-alt"></i>
                </button>
            </div>
        </div>
    </div>


    <button class="btn btn-primary" @onclick="NavigateToEdit">Edit</button>
    <button class="btn btn-secondary" @onclick="NavigateBack">Back</button> *@

    <div class="row">
    <div class="col-md-8 offset-2">
        <div class="card mb-12">
            <div class="row g-0">
                <div class="col-md-12">
                    <div class="card-header text-white bg-info">
                        <p class="card-text">
                            <h5 class="card-title">
                                    @evnt.EventTypeName
                            </h5>
                        </p>
                    </div>
                </div>
                <div class="col-md-4 detail-image">
                        @if (@evnt.Image != null && @evnt.Image.Length > 0)
                        {
                            <img src="data:image/jpeg;base64,@Convert.ToBase64String(@evnt.Image)" alt="Event Image" width="100%" />
                        }
                        else
                        {
                            @if (@evnt.EventTypeName == "Party")
                            {
                                <img src="https://www.google.com/url?sa=i&url=https%3A%2F%2Fturbofuture.com%2Finternet%2FParty-Quotes-and-Caption-Ideas&psig=AOvVaw0RYce7yKny3Sq2WzwhnBZC&ust=1713371074103000&source=images&cd=vfe&opi=89978449&ved=0CBIQjRxqFwoTCKiThOSSx4UDFQAAAAAdAAAAABAE" alt="Party Event Image" Image" width="100%" />
                            }
                            else if (@evnt.EventTypeName == "Carnival")
                            {
                                <img src="https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.alimentarium.org%2Fen%2Fstory%2Fcarnival&psig=AOvVaw1zV8HF5eFFsiJPRk986Zrl&ust=1713371086330000&source=images&cd=vfe&opi=89978449&ved=0CBIQjRxqFwoTCIDyu-mSx4UDFQAAAAAdAAAAABAF" alt="Carnival Event Image" Image" width="100%" />
                            }
                            else if (@evnt.EventTypeName == "Picnic")
                            {
                                <img src="https://images-cdn.welcomesoftware.com/Zz0yYzk1ZDRmNmI2NGMxMWViOGRiNDk1MTgxY2IxYmM0Yw==/Zz1iZWJjZWViNWVhOWJiYzIyYzVlOTI1NTExOGQxMGFjYQ%3D%3D.jpg?width=1366" alt="Picnic Event Image" Image" width="100%" />
                            }
                            else if (@evnt.EventTypeName == "Concert")
                            {
                                <img src="https://media.istockphoto.com/id/1461816749/photo/a-crowd-of-people-with-raised-arms-during-a-music-concert-with-an-amazing-light-show-black.jpg?s=612x612&w=0&k=20&c=-hdWCLDP5AI9A3mjq3JPMPKhXxJ2P1iItPDFktQHxX8=" alt="Concert Event Image" Image" width="100%" />
                            }
                            else
                            {
                                <img src="https://www.aal-europe.eu/wp-content/uploads/2013/04/events_medium.jpg" alt="Default Event Image" Image" width="100%" />
                            }
                        }
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                            <p class="card-text"><b>Event Name: </b>@evnt.EventName </p>
                            <p class="card-text"><b>Location: </b>@evnt.Location </p>
                            <p class="card-text"><b>Start Date: </b>@evnt.EventDate </p>
                        <p class="card-text"><b>End Date: </b></p>
                        <p class="card-text ">
                            <b>Status: </b>
                            <span class="badge bg-success text-white">@evnt.TicketTypeName</span>
                        </p>
                        <p class="card-text">
                            <b>About Event: </b>
                            <hr />
                            <span>
                                @*This should contain the event description*@
                            </span>
                        </p>
                        <p class="card-text"><b>Event Countdown: </b> @*This contain the countdown*@ </p>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="card-footer">
                        <p class="card-text">
                            <a class="btn btn-outline-primary" asp-action="Index">
                                Back to List
                            </a>
                                <a class="btn btn-outline-success float-right">Edit</a>
                                <a class="btn btn-outline-success float-right">Delete</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
}
else
{
    <p>Loading...</p>
}
