@page "/eventlist"
@inherits EventListBase

<PageTitle>Events</PageTitle>

<div class="text-center">
    <form class="search-container">
        <div class="wrap">
            <div class="search">
                <input type="text" class="searchTerm" placeholder="Search event">
                <button type="submit" class="searchButton">
                    <i class="fa fa-search"></i>
                </button>
            </div>
        </div>
    </form>
</div>

@if (events == null)
{
    <div class="loading">
        <h4 style="text-align: center; margin-top: 1cm">Loading...</h4>
    </div>
}
else
{
    if (events.Any())
    {
        <div class="d-flex justify-content-center card-container">
            @foreach (var evnt in events)
                {
                <div class="event-card">
                    <div class="card-header d-flex justify-content-between align-items-center">
                        <h5 class="event-type">@evnt.EventTypeName</h5>
                        <span class="badge bg-success text-white">@evnt.TicketTypeName</span>
                    </div>
                    <div class="card-image">
                        <img class="" src="@evnt.Image" alt="@evnt.EventName" style="max-width: 150px" />
                    </div>
                    <p class="card-location"><i class="fa fa-map-marker"></i> @evnt.Location</p>
                    <b><h5 class="card-name">@evnt.EventName</h5></b>
                    <h6 class="card-date mb-2 text-muted">@evnt.EventDate</h6>
                    <div class="card-footer d-flex justify-content-between align-items-center">
                        <div class="buy-button">
                            <button type="button" class="btn btn-success btn-sm">
                                <i class="fa fa-credit-card"></i> Buy Ticket
                            </button>
                        </div>
                        <div class="other-buttons">
                            <button type="button" class="btn-sm">
                                <i class="fa fa-info-circle"></i>
                            </button>
                            <button type="button" class="btn-sm">
                                <i class="fa fa-bookmark-o"></i>
                            </button>
                            <button type="button" class="btn-sm">
                                <i class="fa fa-share-alt"></i>
                            </button>
                        </div>
                    </div>
                </div>
                }
        </div> 
    }
    else
    {
        <p><em>No event found.</em></p>
    }
}
