@page "/"
@inherits EventListBase

<PageTitle>Home</PageTitle>

<nav class="navbar-2 navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3" style="background-color:lightgray">
    <div class="container-fluid" style="text-align:center">
        <div></div>
        <div class="navbar-collapse collapse d-sm-inline-flex justify-content-center">
            <ul class="navbar-nav flex-grow-1">
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="Home" asp-action="About" style="font-weight:700">See All Events <i class="fa fa-globe"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Help" style="font-weight:700">Create Event <i class="fa fa-plus-circle"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Contact" style="font-weight:700">Live Events <i class="fa fa-circle"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Settings" style="font-weight:700">Events Near Me <i class="fa fa-compass"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Settings" style="font-weight:700">Free Events <i class="fa fa-users"></i></a>
                </li>
            </ul>
        </div>
    </div>
</nav>
@{
    //TODO:Implement search feature
}
<div class="text-center">
    <form class="search-container">
        <div class="wrap">
            <div class="search">
                <input type="text" class="searchTerm" placeholder="Search event by Name or Location">
                <button type="submit" class="searchButton">
                    <i class="fa fa-search"></i>
                </button>
                <b>Country</b>
                @{
                    //TODO:Implement the filter by country or location
                }
            </div>
        </div>
    </form>
</div>
@{
    //TODO: Create carousel
}
<section class="section-container">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            @for (int i = 0; i < events.Count; i++)
            {
                var evnt = events[i];
                <div class="carousel-item @(i == 0 ? "active" : "")">
                    <div class="d-flex justify-content-around">
                        @for (int j = 0; j < 3 && i < events.Count; j++, i++)
                        {
                            evnt = events[i];
                            <div class="card carousel-card">
                                @if (@evnt.Image != null && @evnt.Image.Length > 0)
                                {
                                    <img src="data:image/jpeg;base64,@Convert.ToBase64String(@evnt.Image)" alt="Event Image" class="card-img-top" />
                                }
                                else
                                {
                                    if (@evnt.EventTypeName == "Party")
                                    {
                                        <img src="https://cdn.standardmedia.co.ke/images/wysiwyg/images/U0JnDrS9emx3oW80GaDhBfccX2gvuUpXR8pqbM9l.jpg" alt="Party Event Image" class="card-img-top" />
                                    }
                                    else if (@evnt.EventTypeName == "Carnival")
                                    {
                                        <img src="https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.alimentarium.org%2Fen%2Fstory%2Fcarnival&psig=AOvVaw1zV8HF5eFFsiJPRk986Zrl&ust=1713371086330000&source=images&cd=vfe&opi=89978449&ved=0CBIQjRxqFwoTCIDyu-mSx4UDFQAAAAAdAAAAABAF" alt="Carnival Event Image" class="card-img-top" />
                                    }
                                    else if (@evnt.EventTypeName == "Picnic")
                                    {
                                        <img src="https://images-cdn.welcomesoftware.com/Zz0yYzk1ZDRmNmI2NGMxMWViOGRiNDk1MTgxY2IxYmM0Yw==/Zz1iZWJjZWViNWVhOWJiYzIyYzVlOTI1NTExOGQxMGFjYQ%3D%3D.jpg?width=1366" alt="Picnic Event Image" class="card-img-top" />
                                    }
                                    else if (@evnt.EventTypeName == "Concert")
                                    {
                                        <img src="https://media.istockphoto.com/id/1461816749/photo/a-crowd-of-people-with-raised-arms-during-a-music-concert-with-an-amazing-light-show-black.jpg?s=612x612&w=0&k=20&c=-hdWCLDP5AI9A3mjq3JPMPKhXxJ2P1iItPDFktQHxX8=" alt="Concert Event Image" class="card-img-top" />
                                    }
                                    else
                                    {
                                        <img src="https://www.aal-europe.eu/wp-content/uploads/2013/04/events_medium.jpg" alt="Default Event Image" class="card-img-top" />
                                    }
                                }
                                <div class="card-body">
                                    <h5 class="card-title">@evnt.EventName</h5>
                                    <p class="card-text">@evnt.Location</p>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            }
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</section>