@page "/reset-password"
@inherits ResetPasswordBase

<section class="reset-password-section">
    <h3>Reset Password</h3>
    <EditForm Model="resetPasswordModel" OnValidSubmit="OnResetPassword">
        <DataAnnotationsValidator />
        <ValidationSummary />
        <div class="form">
            <div class="token">
                <InputText @bind-Value="resetPasswordModel.Token" placeholder="Token" class="form-control" />
                <ValidationMessage For="@(() => resetPasswordModel.Token)" />
            </div>
            <div class="new-password">
                <InputText @bind-Value="resetPasswordModel.NewPassword" type="password" placeholder="New Password" class="form-control" />
                <ValidationMessage For="@(() => resetPasswordModel.NewPassword)" />
            </div>
            <div class="confirm-new-password">
                <InputText @bind-Value="resetPasswordModel.ConfirmNewPassword" type="password" placeholder="Confirm New Password" class="form-control" />
                <ValidationMessage For="@(() => resetPasswordModel.ConfirmNewPassword)" />
            </div>
            <div class="button">
                <button type="submit" class="btn btn-lg submit-button">Reset Password</button>
            </div>
        </div>
        @if (!string.IsNullOrEmpty(errorMessage))
        {
            <div class="alert alert-danger">@errorMessage</div>
        }
        @if (!string.IsNullOrEmpty(successMessage))
        {
            <div class="alert alert-success">@successMessage</div>
        }
    </EditForm>
</section>
